<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit customer</title>
</head>
<body>
<h1>Edit customer</h1>
<p>
    <a href="/customers">Customer list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form method="post" th:action="@{/edit-customer}" th:object="${customer}">
    <input name="id" th:field="*{id}" th:type="hidden">
    <table>
        <tr>
            <td>First name:</td>
            <td><input th:field="*{firstName}" type="text"/></td>
        </tr>
        <tr>
            <td>Last name:</td>
            <td><input th:field="*{lastName}" type="text"/></td>
        </tr>
        <tr>
            <td>Province:</td>
            <td>
                <select name="province">
                    <option th:each="p : ${provinces}"
                            th:selected="(${customer.province}) and (${p.id} == *{province.id})"
                            th:text="${p.name}"
                            th:value="${p.id}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update customer"></td>
        </tr>
    </table>
</form>
</body>
</html>